<div class="container">
  <h2><%= @event.name %></h2>
<p>Host:  <%= @event.host.username.capitalize %></p>
  <% if @event.date %>
    <p>Date: <%= @event.date.strftime("%m/%d") %><p>
  <% end %>
  <p>Location: <%= @event.location %><p>
  <p>Foods: <%= @event.diet.name %><p>
  <p>More about event: <%= @event.description %><p>
  <% unless @event.guests.include?(current_user) %>
    <form action="/events/<%=@event.id %>/invitations" method="post">
    <button type="submit" class="btn btn-danger">Join the party</button>
    </form>
  <% else %>
    <button type="button" class="btn btn-danger">See you there!</button>
  <% end %>
</div>

<div class="container party-items">
  <h3>This is what we have so far:</h3>
  <ul>
    <% @event.items.each do |item| %>
      <li id="item"><%=item.name.upcase %> <span id="bringer"><%= item.guest.username%></span></li>
    <% end %>
  </ul>
</div>

<form id="bring-item-form" action="/events/<%=@event.id%>/items" method="post">
  <input type="text" name="item[name]" placeholder="Muffins">
  <input type="number" name="item[quantity]" placeholder="8">
  <!-- insert diet option -->
<button type="submit" class="btn btn-warning" id="stuff">Bring stuff</button>
</form>

<div class="container invitations">
  <h2>Attendees</h2>
  <% @event.guests.each do |guest| %>
  <ul>
    <li><%=guest.username.capitalize %></li>
  </ul>
  <% end %>
</div>
